.btn {
display: block;
    width: 35px;
    padding: 8px 0;
    margin: 20px auto;
    background: #92BCEA;
    border-radius: 4px;
    color: white;
    text-align: center;
    color: black;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    height: 35px;
    
}

.inputDate{
background-color: #3C454A;
border-radius: 4px;
width: 185px;
height: 25px;
margin-right: 15px;
 
}

.inputName {
    background-color: #617073;
    border-radius: 4px;
    width: 185px;
    height: 25px;

}

.radio{
position: relative;
font-family: Arial;;
margin: 15px;
color: white;
}